
body {
    font-family: 'Merrieweather', 'Pixelify Sans', cursive, sans-serif;
    background-color: #2cbeef;
    margin: 0;
    padding: 0;
}

main{
    
    margin: 5rem auto;
    max-width: 112rem;
    padding: 5rem 2rem;
    width: 90%;
    column-count: 3;
    margin: 3.3rem 0;
}


article {
    margin: 50px 0;
    border: 1px solid black;
    border-radius: 15%;
    height: 550px;
    text-align: center;
    
    /*
    background-image: url(images/first-portfoliom.png);
    background-color: #fff;
    */
}

article img {
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 15%;
    background-color: #f8f5f4;
}


h1 {
    color: #2187c7;
    font-family: 'Pixelify Sans';
    font-size: 3rem;
    margin: 50px auto 0 auto; 
    padding-bottom: 30px;
    text-align: center;
}

ul {
    list-style-type: none; 
    display: flex;
    flex-direction: column;
    
  }
  
  li {
  
   margin: 45px;
   padding: 32px;
  }



/* Proje başlığı (adı) stilini değiştirme örneği */
#details-container-project1 ul li:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
    color: #f8f5f4; /* Örnek renk */

}

/* Proje detayı stilini değiştirme örneği */
#details-container-project1 ul li:nth-child(2) {
    font-size: 24px;
    color: #333; /* Örnek renk */
}

/* Proje bağlantısı stilini değiştirme örneği */
#details-container-project1 ul li:nth-child(3) {
    font-size: 18px;
    color: #0077B6; /* Örnek renk */
    text-decoration: none; /* Bağlantıyı altı çizili yapma */
}



/*
.web-development {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:auto;
    gap: 32px;
    margin: 20px auto;
   padding: 20px;
}


*/

/*
.box {
    background-image: url(images/first-portfolio.png);
    background-color: #fff;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/








/*
.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.box2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
    margin-left: 20px; 
}


.box3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    
}

.box4 {
    grid-column: 3 / 4;
    grid-row: 4 / 5 ;
}

*/





  
 
  
