html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
    
}


ol, ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
}

ol{
    display: flex;
    margin-top: 5rem;
    justify-content: center;

}

ul {
height: 80vh ;
overflow-x: hidden;
position: relative;
}

li {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    padding: 0.25rem;

}

ul li {
    background-color: green;
    font-size: 10rem;
    flex: 1 0 100%;
  position: absolute;
  transform: translateX(-90%);
  transition: transform 0.5s ease-out;
  width: 100%;
  z-index: 1;
}

ul li:target {
    transform: translateX(0%);   
    z-index: 3;
}

ul li:target ~ li {
    transform: translateX(90%);
}

ul li:nth-child(odd) {
    background-color: rgb(96, 74, 177);
}


