.container{
    background-color: black;
    color: white;
    display: grid;
    height: 300px;
    padding: 10px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;

}

.item{
    background-color: rgb(11, 126, 59);
    margin: 10px;

}

.item1{
grid-column: 1/4;
grid-row: 2/3;
}

.item2{
   
}